@import url('https://fonts.googleapis.com/css2?family=Playwrite+DE+LA+Guides&display=swap');
* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: "Playwriter Deutschland Lateinische Ausgangsschrift Guides", sans-serif;
}